@model IEnumerable<ClassLibrary1.JsonFormat.AsteroidInfo>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="Index" method="post">
    <input  name="initialDate"/>
    <input  name="endDate"/>
    <input type="submit" value="Submit"/>
</form>

<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>MAGNITUDE</th>
        <th>ESTIMATED DIAMETER</th>
    </tr>
    @if (Model != null)
    {
        @foreach (var information in Model)
        {
            <tr>
                
                <th>@information.id</th>
                <th>@information.name</th>
                <th>@information.absolute_magnitude_h.ToString()</th>
                <th>@information.estimated_diameter.meters.estimated_diameter_max.ToString()</th>
            </tr>
        }
    }


</table>


