@model IEnumerable<ClassLibrary1.JsonFormat.AsteroidInfo>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

 <table style="width:100%">
     <tr>
         <th>ID</th>
         <th>Name</th>
         <th>MAGNITUDE</th>
         <th>ESTIMATED DIAMETER</th>
     </tr>
     @foreach (var d in Model)
     {
     <tr>
         <th>@d.id</th>
         <th>@d.name</th>
         <th>@d.absolute_magnitude_h.ToString()</th>
         <th>@d.estimated_diameter.meters.estimated_diameter_max.ToString()</th>
     </tr>
     }

</table> 


