@model IList<Tuple<double, ClassLibrary1.JsonFormat.AsteroidInfo>>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="Index" method="post">
    <input  name="initialDate"/>
    <input  name="endDate"/>
    <input type="submit" value="Submit"/>
</form>

<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>DATE</th>
            <th>ID</th>
            <th>Name</th>
            <th>MAGNITUDE</th>
            <th>ESTIMATED DIAMETER</th>
        </tr>
    </thead>
    @if (Model != null)
    {
        @foreach (var information in Model)
        {
    <tr>
        <th>@information.Item1</th>
        <th>@information.Item2.id</th>
        <!---
        <th>information.close_approach_data.First()</th>
        <th>information.id</th>
        <th>information.name</th>
        <th>information.absolute_magnitude_h.ToString()</th>
        <th>information.estimated_diameter.meters.estimated_diameter_max.ToString()</th>
    --->
    </tr>
        }
    }

</table>




